@font-face {
  font-family: "formula1-display-regular-2";
  src: url("../assets/fonts/Formula1-Regular_web_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Estilos generales */
body {
  font-family: "formula1-display-regular-2", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1; 
  color: #333; 
}

/* Estilos del header */
header {
  background-color: #a70000; 
  color: #fff; 
  padding: 20px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-family: "formula1-display-regular-2", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 2vh;
  transition: font-size 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}
nav ul li a:hover {
  font-size: 2.3vh; /* Ajusta el tamaño deseado al hacer hover */
}

/* Estilos de la sección de bienvenida */
.welcome-section {
  text-align: center;
  padding: 10vw; 
  background-color: black; 
  color: #fff; 
  font-family: "formula1-display-regular-2", sans-serif;
}

.welcome-section h1 {
  font-size: 8vw; 
  margin-bottom: 2vw; 
}

.welcome-section p {
  font-size: 3vw; 
  margin-bottom: 4vw; 
}

.btn-enter {
  display: inline-block;
  padding: 1.5vw 3vw; 
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: #fff; 
  font-size: 4vw; /* Tamaño del texto del botón utilizando unidades de viewport */
  font-family: "formula1-display-regular-2", sans-serif;
}

.btn-enter:hover {
  background-color: white;
  color: #333; /* Color de texto al pasar el cursor */
}

/* Estilos del contenido principal */
.featured {
  padding: 5vw; 
  background-color: #f1f1f1;
  background-image: url("assets/abudhabi.avif");
  background-size: cover; /* Para cubrir toda la sección */
  background-position: center; /* Para centrar la imagen */
  color: #fff; 
  position: relative; 

  /* Ajuste de altura basado en el tamaño del h1 */
  height: 45vh; 
  min-height: calc(8vw + 20px); /* Altura mínima basada en el tamaño del h1 */
}
.featured h1 {
  font-size: 9vw; 
  font-family: "formula1-display-regular-2", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.content {
  padding: 5vw; 
  background-color: black; 
  color: #fff; 
  font-family: "formula1-display-regular-2", sans-serif;
}
.content h2 {
  display: flex;
  justify-content: center;
  font-size: 8vw;
}
.content a {
  font-size: 2vw;
}
.content a:focus,
.content a:active,
.content a:hover 
 {
    color: #fff; 
    text-decoration: none; 
}
a:visited {
  color: inherit; /* Hereda el color del texto del padre */
  text-decoration: none; /* Elimina la decoración de enlaces visitados */
}

.content a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
}

/* Estilos del footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #a70000; /* Negro */
  color: #fff; /* Blanco */
  font-family: "formula1-display-regular-2", sans-serif;
}
/* Media query para ajustar el tamaño del h1 en pantallas más grandes */
@media (min-width: 768px) {
  .featured h1 {
    font-size: 5vw; /* Tamaño del título para pantallas más grandes */
  }
}
